.container{
    flex: 0 0 auto; /* Prevent slides from shrinking grow, shrik, size*/ 
     width:auto ; /* Set slide width to auto */
    
    background-color: #121212;
   
     
   
}
.arrow{
    display:flex;
    justify-content: space-between;

    
    
}
